<div class="tab-content tab-content-basic">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-body">
                                <!-- Aquí va el formulario -->
                                <form [formGroup]="efectorForm" (ngSubmit)="onSubmit()">
                                    <h4 class="card-title">Editar Efector</h4>
                                    <!-- Campo ID -->
                                    <div class="form-group">
                                        <label for="id">ID</label>
                                        <input type="text" formControlName="id" class="form-control" id="id" name="id"
                                            readonly>
                                    </div>
                                    <!-- Campo Nombre -->
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" formControlName="nombre" class="form-control" id="nombre"
                                            name="nombre">
                                        <mat-error *ngIf="efectorForm.get('nombre')?.hasError('required')"
                                            class="error-message">
                                            Este campo es obligatorio
                                        </mat-error>
                                    </div>
                                    <!-- Campo CUIE -->
                                    <div class="form-group">
                                        <label for="cuie">CUIE</label>
                                        <input type="text" formControlName="cuie" class="form-control" id="cuie"
                                            name="cuie">
                                        <mat-error *ngIf="efectorForm.get('cuie')?.hasError('required')"
                                            class="error-message">
                                            Este campo es obligatorio
                                        </mat-error>
                                    </div>
                                    <!-- Campo Región -->
                                    <div class="form-group">
                                        <label for="region">Región</label>
                                        <select formControlName="region" class="form-control" id="region" name="region">
                                            <option *ngFor="let value of regions" [value]="value">{{
                                                value }}</option>
                                        </select>
                                        <mat-error *ngIf="efectorForm.get('region')?.hasError('required')"
                                            class="error-message">
                                            Este campo es obligatorio
                                        </mat-error>
                                    </div>
                                    <!-- Campo Descripción -->
                                    <div class="form-group">
                                        <label for="descripcion">Descripción</label>
                                        <textarea formControlName="descripcion" class="form-control" id="descripcion"
                                            rows="3" name="descripcion"></textarea>
                                        <mat-error *ngIf="efectorForm.get('descripcion')?.hasError('required')"
                                            class="error-message">
                                            Este campo es obligatorio
                                        </mat-error>
                                    </div>
                                    <!-- Botones de enviar y restablecer -->
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="efectorForm.invalid || isLoading">
                                        <span *ngIf="!isLoading">Enviar</span>
                                        <app-spinner name="" *ngIf="isLoading"></app-spinner>
                                    </button>
                                    <button type="button" class="btn btn-secondary" (click)="resetForm()"
                                        [disabled]="isLoading">Restablecer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>