<div class="row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Expedientes</h4>
            <button class="btn btn-primary btn-lg text-white mb-0 me-3 d-flex align-items-center"
                (click)="agregarExpediente()">
                <i class="mdi mdi-plus me-1"></i>
                Agregar
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-stripped ">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Titulo</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Monto Solicitado</th>
                        <th>Cargado el</th>
                        <th>Por</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let expediente of expedientes">
                        <td>{{ expediente.numero }}</td>
                        <td>{{ expediente.nombre }}</td>
                        <td>{{ expediente.fechaExpediente }}</td>
                        <td>{{ expediente.descripcion }}</td>
                        <td>{{ expediente.montoSolicitado | currencyFormat }}</td>
                        <td>{{ expediente.auditorDTO.fechaCreacion }}</td>
                        <td>{{ expediente.auditorDTO.creadoPor }}</td>
                        <td>
                            <div class="btn-group me-3" role="group" aria-label="Acciones">
                                <!-- Botón de ver detalle -->
                                <button class="btn btn-action btn-dark rounded-circle container"
                                    (click)="verExpediente(expediente)">
                                    <i class="fas fa-eye text-white"></i>
                                </button>
                                <ng-container *ngIf="isAdmin">
                                    <button class="btn btn-action btn-primary rounded-circle container"
                                        (click)="editarExpediente(expediente)">
                                        <i class="fas fa-pencil-alt text-white"></i>
                                    </button>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>