<div class="tab-content tab-content-basic">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-header">
                                <h5 class="card-title">{{ currentExpediente.numero }} - {{ currentExpediente.nombre }}
                                </h5>
                            </div>
                            <div class="card-body">
                                <!-- Detalles del expediente -->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <p><strong>Fecha Expediente:</strong> {{ currentExpediente.fechaExpediente }}
                                        </p>
                                        <p><strong>EFECTOR:</strong> {{ currentExpediente.efector.nombre }} - {{
                                            currentExpediente.efector.cuie }}</p>
                                        <p><strong>Monto Solicitado:</strong> {{ currentExpediente.montoSolicitado |
                                            currencyFormat }}</p>
                                        <p><strong>Descripción:</strong> {{ currentExpediente.descripcion }}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>Fecha de Creación:</strong> {{
                                            currentExpediente.auditorDTO.fechaCreacion }}</p>
                                        <p><strong>Creado Por:</strong> {{ currentExpediente.auditorDTO.creadoPor }}</p>
                                        <p><strong>Fecha de Modificación:</strong> {{
                                            currentExpediente.auditorDTO.fechaModificacion }}</p>
                                        <p><strong>Modificado Por:</strong> {{
                                            currentExpediente.auditorDTO.modificadoPor }}</p>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <p><strong>Resolución asociada:</strong>
                                            <ng-container *ngIf="!hasExpediente">
                                                <div class="col-md-6 d-flex justify-content-between align-items-center">
                                                    <span>No tiene resolución asociada</span>
                                                    <button
                                                        class="btn btn-primary btn-lg text-white mb-0 me-3 d-flex align-items-center"
                                                        (click)="agregarResolucion()">
                                                        <i class="mdi mdi-account-plus me-1"></i>
                                                        Agregar
                                                    </button>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="hasExpediente">
                                                {{ resolucion.numero }} <button class="btn btn-dark rounded-circle"
                                                    (click)="verResolucion(resolucion)">
                                                    <i class="fas fa-eye text-white"></i>
                                                </button>
                                            </ng-container>
                                        </p>
                                    </div>
                                </div>
                                <!-- Fin de Detalles del expediente -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>